# Ignore virtual environment
venv/

# Ignore local dependencies
node_modules/

# Ignore git files
.git
.gitignore

# Ignore IDE settings
.vscode/
.idea/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore unnecessary files
README.md
LICENSE