# Virtual environment
venv/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Node.js
node_modules/

# # TypeScript compiled files (optional, if you want to ignore them)
# static/js/*.js
# static/js/*.js.map

# IDE/editor settings
.vscode/
.idea/
*.swp